n8n/workflows/templates/teamos_hub_monitor.json
{
  "name": "TeamOS Hub Monitor",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 260]
    },
    {
      "parameters": {
        "url": "={{$env.TEAMOS_BASE_URL || 'http://127.0.0.1:8787'}}/v1/hub/status",
        "responseFormat": "json",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-hub-status",
      "name": "Hub Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 180]
    },
    {
      "parameters": {
        "url": "={{$env.TEAMOS_BASE_URL || 'http://127.0.0.1:8787'}}/v1/hub/approvals?limit=20",
        "responseFormat": "json",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-approvals",
      "name": "Recent Approvals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 340]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "merge",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [700, 260]
    },
    {
      "parameters": {
        "jsCode": "const s = $json.hub_status || $json;\nconst a = $json.recent_approvals || {};\nreturn [{ json: {\n  ts: new Date().toISOString(),\n  postgres_open: s.postgres?.tcp_open ?? false,\n  redis_open: s.redis?.tcp_open ?? false,\n  approvals_pending: s.approvals_pending?.[0]?.count ?? 0,\n  locks_held: s.locks_held?.[0]?.count ?? 0,\n  migrations: s.migrations?.map(m => m.version) ?? [],\n  approvals_count: (a.approvals || []).length\n}}];"
      },
      "id": "code-summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [930, 260]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Hub Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Recent Approvals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hub Status": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recent Approvals": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "teamos-hub-monitor-v1",
  "tags": []
}
